.p1{
    text-align: center;
    
    margin-top: 30px;
    margin-bottom:10px ;
    color:#e6a756;
    font-size: 30px;
}
.p2{
    font-size: 80PX ;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
body{
    background-image: url(https://startbootstrap.github.io/startbootstrap-business-casual/assets/img/bg.jpg);
}
.nav{
    display: inline;
}
ul{
    background-color: #2d170fd2;
    width: 100%;
    height: 100px;
    padding-top: 20px;
  
}
li{
    display: inline;
    color: white;
    font-size: 30px;
    margin-left: 90px ;
   position: relative;
    left: 500px;
}
img{
    width: 1000px;
    height: 700px;
    margin-left: 550px;
    position: relative;
    bottom:200px;
}
.containerbox{
    width: 600px;
    height: 300px;
    border: 1px solid #f6e1c5;
    background-color: #f6e1c5;
    text-align: center;
    position: relative;
    right: 200px;
    margin-top: 30px;
    top:300px;
    border-radius: 10px;
}
h2{
    margin-top: 30px;
    font-size: 20px;
}
span{
    margin-bottom: 30px;
    font-size: 30px;
}
button{
    border: 1PX SOLID #e6a756 ;
    background-color: #e6a756;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
}
.footer{
    width: 100%;
    height: 450px;
    background-color: #e6a756;
    padding-top: 80px;
}
.footer__body{
    background-color: #f6e1c5;
    width: 900px;
    height: 300px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 3px solid #d69a50;

}
.footer__copy{
    position: relative;
    top:200px;
    width: 100%;
    height: 130px;
   background-color:  #2d170fd8;
}
.footer__copy__p{
    color: aliceblue;
    text-align: center;
    padding-top: 60px;
}

